<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link 
    rel="stylesheet" 
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
</head>
<body>
    <div class="container">
        <div class="jumbotron text-center">
            <h1>FindME FM</h1>
            <form action="/action_page.php">
                <label for="fname">Your Favorite Song:</label> <!-- user song input -->
                <input type="text" id="fname" name="fname"><br><br>
                <button type="button" class="btn btn-primary btn-lg">Let's Go</button> <!-- button-->

            </form>
            <p>Click to find your your new favorite song !</p>

          
        </div>
    </div>
    <!-- <h1>FindMe FM</h1> -->

<!-- Dead button codes -->
  <!-- <p><a class="btn btn-primary btn-lg" href="/scrape"
                  role="button">Your New Favorite Song</a></p> -->
<!-- <input class="btn btn-primary btn-lg" value="Your New Favorite Song"> -->


</body>
</html>
<!-- 
<div class="container">
    <div class="jumbotron text-center">
        <h1>FindME FM</h1>
        <form action="/action_page.php">
            <label for="fname">Your Favorite Song:</label>
            <input type="text" id="fname" name="fname"><br><br>
     
            <input type="submit" value="Your NEW Favorite Song">
        </form>
        <p><a class="btn btn-primary btn-lg" href="/scrape"
              role="button">Your New Favorite Song</a></p>
    </div>
</div> -->