<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link 
    rel="stylesheet" 
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
</head>
<body>
    <!-- <div class="container">
        <h2>Image</h2>
        <p>The .img-responsive class makes the image scale nicely to the parent element (resize the browser window to see the effect):</p>
        <img class="img-responsive" src="https://images.app.goo.gl/Hq4zf8KCpLFafE8g8" alt="Thug" width="460" height="345"> 
      </div> -->

    </div>
    <div class="container2">
        <div class="jumbotron text-center">
            <h1>FindMe FM</h1>
            <form action="/action_page.php">
                <label for="fname">Your Favorite Song:</label> <!-- user song input -->
                <input type="text" id="fname" name="fname"><br><br>
                <button type="button" class="btn btn-primary btn-lg">Let's Go</button> <!-- button-->

            </form>
            <p>Click to find your your new favorite song!</p>
        
            <!-- <h2>Alternative text</h2> -->

        </div>
    </div>






    <!-- <h1>FindMe FM</h1> -->

<!-- Dead button codes -->
  <!-- <p><a class="btn btn-primary btn-lg" href="/scrape"
                  role="button">Your New Favorite Song</a></p> -->
<!-- <input class="btn btn-primary btn-lg" value="Your New Favorite Song"> -->


</body>
</html>
<!-- 
<div class="container">
    <div class="jumbotron text-center">
        <h1>FindME FM</h1>
        <form action="/action_page.php">
            <label for="fname">Your Favorite Song:</label>
            <input type="text" id="fname" name="fname"><br><br>
     
            <input type="submit" value="Your NEW Favorite Song">
        </form>
        <p><a class="btn btn-primary btn-lg" href="/scrape"
              role="button">Your New Favorite Song</a></p>
    </div>
</div> -->